@import url('https://fonts.googleapis.com/css?family=Monofett');


h1 {

  font-family:'Monofett',cursive;
  text-align: center;

}

body {

  background-color: lightblue;

}

p {

  font-family: 'Monofett',cursive

}
